<h1>Product list</h1>
<a routerLink="/products/create">Create product</a>
<table class="table">
  <thead class="table-dark">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th colspan="2">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>
      <button routerLink="/products/edit/{{product.id}}">Edit</button>
    </td>
    <td>
      <button routerLink="/products/delete/{{product.id}}">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

