<h1>Form delete product</h1>
<form (ngSubmit)="deleteProduct()">
  <div class="mb-3">
    <label for="id" class="form-label">Id:</label>
    <input type="number" id="id" name="id" class="form-control" [(ngModel)]="product.id" disabled>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input type="text" id="name" name="name" class="form-control" [(ngModel)]="product.name" disabled>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price:</label>
    <input type="text" id="price" name="price" class="form-control" [(ngModel)]="product.price" disabled>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description:</label>
    <input type="text" id="description" name="description" class="form-control" [(ngModel)]="product.description" disabled>
  </div>
  <button class="btn btn-danger">Submit</button>
</form>
