<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="https://dogtime.com/assets/uploads/2011/03/puppy-development.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">TOXIC</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
<!--    <div class="user-panel mt-3 pb-3 mb-3 d-flex">-->
<!--      <div class="image">-->
<!--        <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">-->
<!--      </div>-->
<!--      <div class="info">-->
<!--        <a href="#" class="d-block">Alexander Pierce</a>-->
<!--      </div>-->
<!--    </div>-->

    <!-- SidebarSearch Form -->
<!--    <div class="form-inline">-->
<!--      <div class="input-group" data-widget="sidebar-search">-->
<!--        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">-->
<!--        <div class="input-group-append">-->
<!--          <button class="btn btn-sidebar">-->
<!--            <i class="fas fa-search fa-fw"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
          <a routerLink="/products" class="nav-link">
            <p>
              Product Management
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
